@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Tilt+Warp&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(226, 224, 185);
    font-family: 'Tilt Neon';
}

img.pic {
    width: 430px;
    height: 300px;
    margin: 20px auto 25px;
    animation: 1s spacing;
    display: none;
}

img.close {
    width: 25px;
    height: 25px;
    display: none;
    animation: 2s spacing;
}

img.add {
    width: 25px;
    height: 25px;
    display: none;
    animation: 2s spacing;
}

label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    flex-wrap: wrap;
}

.radiobox {
    max-width: 600px;
margin: auto;
font-size: 25px;
font-weight: bold;
color: #0969DA;
cursor: pointer;
}

.radiobox:hover img.add {
    display: flex;
}

h1 {
    height: 45px;
    margin-top: 40px;
    margin-left: 460px
}

.mem {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(181, 176, 176);
    flex-wrap: wrap; 
}

.mem input[type=radio] {
	display: none;
}

 
.mem:hover img{
	display: flex;
}

.mem:hover img.add {
    display: none;
}
/* .mem:checked img{
	display: flex;
} */


.mem input[type=radio]:checked + img {
    display: flex;
}


.mem:hover + img {
    display: flex;
}

.radiobox:hover {
    color: black;
    transition: 0.1s;
}

@keyframes spacing {
    0% {
      transform: scale(0.8);
    }
      100% {
      transform: scale(1);
    }
  }