@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Tilt+Warp&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(226, 224, 185);
    font-family: 'Tilt Neon';
}

img.pic {
    width: 27rem;
    height: 18rem;
    margin: auto;
    animation: 1s spacing;
    display: none;
}

img.close {
    width: 1.8rem;
    height: 1.8rem;
    display: none;
    animation: 2s spacing;
}

img.add {
    width: 1.8rem;
    height: 1.8rem;
    display: none;
    animation: 2s spacing;
}

label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.radiobox {
    max-width: 37.5rem;
    margin: auto;
    font-size: 1.6rem;
    font-weight: bold;
    color: #0969DA;
    cursor: pointer;
    margin-bottom: 5rem;
}

.radiobox:hover img.add {
    display: flex;
}

h1 {
    height: 2.8rem;
    margin-top: 2.5rem;
    margin-left: 28.1rem;
    color: rgb(122, 55, 125);
    font-size: 3rem;
}

.mem {
    display: flex;
    flex-direction: column;
    border-top: 0.07rem solid rgb(181, 176, 176);
    flex-wrap: wrap;
}

.mem input[type=radio] {
    display: none;
}

.mem:hover img {
    display: flex;
}

.mem:hover img.add {
    display: none;
}


.mem input[type=radio]:checked+img {
    display: flex;
}


.mem:hover+img {
    display: flex;
}

.radiobox:hover {
    color: black;
    transition: 0.1s;
}

@keyframes spacing {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}


@media (max-width: 51.25rem) {
    h1 {
        margin-left: 6.25rem;
    }
}

@media (max-width: 20rem) {
    h1 {
        margin-left: 1.5rem;
    }

    .radiobox {
        max-width: 15.6rem;
        margin: auto;
        font-size: 0.9rem;
    }

    img.pic {
        width: 15.6rem;
        height: 12.5rem;
    }
}